* {
    box-sizing: border-box;
}

body {
    height: 100vw;
    background: rgb(34,193,195);
    background: linear-gradient(118deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-family: sans-serif;
}

.container {
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

.card {
    min-width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 40px;
    cursor: pointer;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 30px;
}

.closed {
    font-size: 0;
    background-color: #ffc5d0;
}

.good {
    background-color: #00ffbf;
}

.end-card {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
    padding-top: 50px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ee4d4d;
    color: white;
    font-size: 30px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 50px;
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffff30;
}

.input {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffffb0;
    font-size: 30px;
    transition: background-color 0.3s ease-in-out;
}

.input:hover {
    background-color: #ffffffd0;
}

.input:active {
    background-color: #fffffff0;
}

.input:focus {
    background-color: #fffffff0;
}

.rule-text {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 22px;
}

.button {
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffffb0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #ffffffd0;
}

.button:active {
    background-color: #fffffff0;
}

.button:focus {
    background-color: #fffffff0;
}

.timer {
    position: absolute;
    top: 50px;
    left: -100px;
    font-size: 30px;
}

.new-game {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff;
    font-family: inherit;
    font-size: 20px;
}